@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 32);
    overflow-x: hidden;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(23, 194, 137);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: whitesmoke;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.top {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky {
    padding: 15px 0;
    background: rgb(23, 194, 137);
}

.sticky .logo a span {
    color: rgb(0, 0, 32);
}

.sticky .menu li a:hover {
    color: rgb(0, 0, 32);
}

.menu-btn {
    color: whitesmoke;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar .logo a {
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}

span {
    animation: none;
    color: rgb(23, 194, 137);
}

span2 {
    font-weight: 600;
    color: rgb(0, 0, 32);
}

hr {
    background-color: rgb(0, 0, 32);
}

.home .text-3 span {
    animation: blink 1s infinite;
    color: rgb(23, 194, 137);
    border-right: 4px solid rgb(23, 194, 137);
}

.about .skill span {
    animation: blink 1s infinite;
    color: rgb(23, 194, 137);
    border-right: 4px solid rgb(23, 194, 137);
    transition: all 0.5s ease;
}



@keyframes blink {
    50% {
        border-right: none;
    }
}



.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: rgb(23, 194, 137);
}


.home {
    display: flex;
    height: 100vh;
    color: whitesmoke;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .top {
    margin: auto 0 auto 40px;
}

.home .social {
    border: 1px solid;
    width: 0%;
    display: flex;
    font-size: 20px;
    align-items: center;
    background: none;
}

.home .social .out {
    height: 10px;
    margin-top: 5px;
}

.home .social .out a {
    color: rgb(23, 194, 137);
    height: 20px;
}

.home .social .out a:hover {
    color: whitesmoke;
}

.home .social a i {
    margin-top: 30px;
}

.home .home-content {
    margin-top: 5%;
    margin-left: 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    font-weight: 500;
}

.home .in {
    width: 80%;
    margin-top: 30px;
    margin-left: -3px;
    letter-spacing: 1px;
}

.home .home-content a {
    display: inline-block;
    background: rgb(23, 194, 137);
    color: whitesmoke;
    margin-top: 20px;
    font-size: 25px;
    padding: 5px 5px;
    border-radius: 6px;
    border: 2px solid rgb(23, 194, 137);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: rgb(23, 194, 137);
    background: none;
}


section {
    padding: 80px 0;
}

.about,
.contact {
    font-family: 'Poppins', sans-serif;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: rgb(23, 194, 137);
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: rgb(23, 194, 137);
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    background: rgb(0, 0, 32);
    color: whitesmoke;
    transform: translateX(-50%);
}

.about .title::after {
    content: "me in a summary";
}

.about .about-content,
.contact .contact-content {
    display: flex;
    color: whitesmoke;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .fade-in {
    opacity: 0;
    transition: opacity 0.9s ease-in;
}

.about .about-content .fade-in.appear {
    opacity: 1;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right .skill span {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.about .about-content .right a {
    display: inline-block;
    background: rgb(23, 194, 137);
    color: whitesmoke;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 6px;
    border: 2px solid rgb(23, 194, 137);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: rgb(23, 194, 137);
    background: none;
}


.projects,
footer {
    font-family: 'Ubuntu', sans-serif;
}

.projects .title::after {
    content: "some of my work";
}

.projects .projects-content {
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 100px auto;
    margin-bottom: 100px;
}

.projects .projects-content .left img {
    height: 360px;
    width: 400px;
    object-fit: contain;
    border-radius: 6px;
    box-shadow: 0 0 20px black;
    position: relative;
}


.projects .projects-content:hover .left img {
    transform: scale(1.1);
    z-index: 1;
    transition: all 0.3s ease;
}



.projects .projects-content .right a {
    display: inline-block;
    color: rgb(0, 0, 32);
    margin-top: 20px;
    margin-right: 2%;
    font-size: 19px;
    font-weight: 600;
    padding: 4px 4px;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 32);
    transition: all 0.5s ease;
}

.projects .projects-content .right a .fa-eye {
    font-size: 15px;
}

.projects .projects-content .right a:hover {
    color: whitesmoke;
    background: rgb(0, 0, 32);
}

.projects .projects-content .right .text{
    color: rgb(0, 0, 32);
    font-weight: 600;
    font-size: 20px;
}

.projects .projects-content:nth-child(odd) {
    flex-direction: row-reverse;
}

.projects .projects-content .left {
    flex: 1;
    transform: translate(-50%);
}

.projects .projects-content .right {
    flex: 1;
    margin-left: 50px;
    line-height: 25px;
    background: rgb(21, 167, 118);
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px black;
    z-index: 2;
    transform: translate(50%);
}

.projects .projects-content .left,
.projects .projects-content .right {
    transition: opacity 0.9s ease-in, transform 0.9s ease-in;
    opacity: 0;
}

.projects .projects-content .left.appear,
.projects .projects-content .right.appear {
    transform: translateX(0);
    opacity: 1;
}

.projects .projects-content:nth-child(odd) .left {
    margin-left: 50px;
}

.projects .projects-content:nth-child(odd) .right {
    margin-left: 0;
}


.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: rgb(23, 194, 137);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    height: 100%;
    width: 60%;
    border: 2px solid rgb(23, 194, 137);
    border-radius: 6px;
    background: rgb(23, 194, 137);
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact .right form .button button:hover {
    background: none;
    color: rgb(23, 194, 137);
}

.contact .social {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-left: 50%;
    background: none;
}

.contact .social .out {
    height: 10px;
    margin-top: -60px;
}

.contact .social .out a {
    color: rgb(23, 194, 137);
    height: 20px;
}

.contact .social .out a:hover {
    color: whitesmoke;
}

.contact .social a i {
    margin-left: 20px;
}







footer {
    background: black;
    padding: 20px 23px;

}

footer .foot {
    margin-left: 40%;
}

footer span {
    color: whitesmoke;
}

footer span a {
    color: rgb(23, 194, 137);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}











@media (max-width: 1300px) {
    .home .top {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .top {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(0, 0, 32);
        text-align: center;
        padding-top: 200px;
        transition: all 0.7s ease;
    }

    .active {
        left: 0;
    }

    .menu li {
        display: block;
    }

    .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .in {
        width: 100%;
        font-size: 13px;
    }

    .home .home-content {
        margin-top: 10%;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 20px;
        padding: 8px 5px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .top {
        max-width: 800px;
    }

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .contact .social {
        margin-left: 40%;
    }

    .contact .social a i {
        margin-left: 18px;
    }

    footer .foot {
        margin-left: 5%;
    }


}

@media (max-width: 768px) {
    .projects .projects-content {
        flex-direction: column;
    }

    .proects .projects-content .left {
        width: 100%;
    }

    .projects .projects-content .right {
        width: 100%;
        margin-left: 0;
        margin-top: -150px;
    }

    .projects .projects-content:nth-child(odd) {
        flex-direction: column;
    }

    .projects .projects-content:nth-child(odd) .left {
        margin-left: 0;
    }
}


@media (max-width: 690px) {
    .top {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 15px;
        padding: 8px 2px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}

@media (max-width: 433px) {
    section .title::after {
        padding: 2px;
    }
}